.new{
    width: 60%;
}
.navbar{
    display: flex;
    align-items: center;
    align-content: space-between;
}
a{
    padding: 10px;
}
.h1{
    padding:20px;
    width: 20%;
}
.cont{
    display: flex;
}
table,td{
    border: 2px solid black;
}
table{
    width: 500px;
}   
.head{
    display: flex;
    justify-content: space-around;
    background-color: darkorange;
}